<div class="container">
    <!-- left content -->
    <div class="flex">
        <div class="left-content">
            <h4 class="title">Empréstimo para alavancar seus négocios.</h4>
            <p class="sub-title">Temos a melhor solução do mercado de cŕedito.</p>
            <p class="description">
                Na WeFin você tem crédito com juros baixos e toda a credibilidade de
                uma empresa com mais de 16 anos fornecendo soluções de crédito e financiamento.
            </p>
        </div>
    </div>

    <!-- right content -->
    <div class="flex">
        <div class="right-content">
            <!-- first step -->
            <mat-card class="example-card" 
                [@cardAnimation]="firstCardState" *ngIf="displayProposalValueCard">
                <div class="margin">
                    <div> <span> Qual valor de empréstimo deseja?</span> </div>
                    <!-- proposal value -->
                    <div class="form">
                        <mat-form-field appearance="fill" floatLabel="always">
                            <mat-label>Valor desejado</mat-label>
                            <input matInput ngModel
                                name="valorTotal"
                                type="number" [min]="minProposalValue"
                                [max]="maxProposalValue"
                                [(ngModel)]="totalValue" />
                        </mat-form-field>
                    </div>
                    <!-- proposal value slider -->
                    <div>
                        <mat-slider class="example-margin"
                            [max]="maxProposalValue" 
                            [min]="minProposalValue"
                            [step]="step">
                            <input matSliderThumb [(ngModel)]="totalValue">
                        </mat-slider>
                    </div>
                    <!-- next step button-->
                    <div class="btn-style">
                        <button mat-raised-button color="primary" 
                            (click)="nextStep()"
                            [disabled]="disableNextStepBtn()">Simule Agora
                            <mat-icon>arrow_right_alt </mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>

            <!-- second step -->
            <mat-card class="example-card" 
                [@cardAnimation]="firstCardState" *ngIf="!displayProposalValueCard">
                <div class="margin">
                    <div class="form">
                        <form [formGroup]="formGroup">
                            <!-- proposal value -->
                            <mat-form-field appearance="fill" floatLabel="always">
                                <mat-label>Valor desejado</mat-label>
                                <input matInput 
                                    formControlName="proposalValue" 
                                    type="number" />
                            </mat-form-field>

                            <!-- full name -->
                            <mat-form-field appearance="fill">
                                <mat-label>Nome Completo</mat-label>
                                <input matInput 
                                    formControlName="fullName" type="text"
                                    placeholder="Digite seu nome completo" />
                            </mat-form-field>

                            <!-- number of installments -->
                            <mat-form-field appearance="fill">
                                <mat-label>Número de Parcelas</mat-label>
                                <input matInput formControlName="installments" type="number"
                                    placeholder="número de parcelas" />
                                <mat-hint align="end">
                                    Quantidade mínima: 12 / Quantidade máxima: 48
                                </mat-hint>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="btn-style">
                        <button mat-raised-button color="primary"
                            [disabled]="!formGroup.valid"
                            (click)="simulate()">Simular empréstimo
                            <mat-icon>arrow_right_alt </mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<!-- proposal component -->
<app-proposal *ngIf="displayProposal" [proposal]="proposal"></app-proposal>